<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.darmoor.payetabieredev"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Payes ta bière</name>

    <description>
        
    </description>

    <author href="http://www.quentinlaurent.fr" email="quentin.laurent@timbreos.com">
        Quentin LAURENT
    </author>

    <preference name="webviewbounce" value="false" />

    <access origin="*" />

</widget>